.mt-1 {
  margin-top: ($spacer * .5);
}

.mt-2 {
  margin-top: ($spacer * 1);
}

.mt-3 {
  margin-top: ($spacer * 2);
}

.mb-1 {
  margin-bottom: ($spacer * .5);
}

.mb-2 {
  margin-bottom: ($spacer * 1);
}

.mb-3 {
  margin-bottom: ($spacer * 2);
}

.mr-1 {
  margin-right: ($spacer * .5);
}

.mr-2 {
  margin-right: ($spacer * 1);
}

.mr-3 {
  margin-right: ($spacer * 2);
}

.ml-1 {
  margin-left: ($spacer * .5);
}

.ml-2 {
  margin-left: ($spacer * 1);
}

.ml-3 {
  margin-left: ($spacer * 2);
}

.mx-1 {
  margin-left: ($spacer * .5);
  margin-right: ($spacer * .5);
}

.mx-2 {
  margin-left: ($spacer * 1);
  margin-right: ($spacer * 1);
}

.mx-3 {
  margin-left: ($spacer * 2);
  margin-right: ($spacer * 2);
}

.my-1 {
  margin-top: ($spacer * .5);
  margin-bottom: ($spacer * .5);
}

.my-2 {
  margin-top: ($spacer * 1);
  margin-bottom: ($spacer * 1);
}

.my-3 {
  margin-top: ($spacer * 2);
  margin-bottom: ($spacer * 2);
}
