.p-0 {
  padding: 0;
}

.p-1 {
  padding: ($spacer * .5);
}

.p-2 {
  padding: ($spacer * 1);
}

.p-3 {
  padding: ($spacer * 2);
}

.pt-1 {
  padding-top: ($spacer * .5);
}

.pt-2 {
  padding-top: ($spacer * 1);
}

.pt-3 {
  padding-top: ($spacer * 2);
}

.pb-1 {
  padding-bottom: ($spacer * .5);
}

.pb-2 {
  padding-bottom: ($spacer * 1);
}

.pb-3 {
  padding-bottom: ($spacer * 2);
}

.pr-1 {
  padding-right: ($spacer * .5);
}

.pr-2 {
  padding-right: ($spacer * 1);
}

.pr-3 {
  padding-right: ($spacer * 2);
}

.pl-1 {
  padding-left: ($spacer * .5);
}

.pl-2 {
  padding-left: ($spacer * 1);
}

.pl-3 {
  padding-left: ($spacer * 2);
}

.py-1 {
  padding-top: ($spacer * .5);
  padding-bottom: ($spacer * .5);
}

.py-2 {
  padding-top: ($spacer * 1);
  padding-bottom: ($spacer * 1);
}

.py-3 {
  padding-top: ($spacer * 2);
  padding-bottom: ($spacer * 2);
}
